<p style="color: green"><%= notice %></p>

<h1><%= @title %></h1>

<div id="items">
  <% @items.each do |item| %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= item.name %></h5>
        <p class="card-text">
          <strong>Done at:</strong>
          <%= item.done_at %>
        </p>
        <%= link_to "Show this item", item, class: "card-link" %>
        <%= link_to "mark as done", mark_as_done_item_path(item), class: "card-link" %>
      </div>
    </div>
  <% end %>
</div>

<%= button_to "New item", new_item_path, class: "btn btn-primary" %>
